<div class="status-container" [ngSwitch]="value.status">
    <div *ngSwitchCase="status.CREATED" class="status created">{{value.status}}</div>
    <div *ngSwitchCase="status.PENDING" class="status pending">{{value.status}}</div>
    <div *ngSwitchCase="status.REJECTED" class="status rejected">{{value.status}}</div>
    <div *ngSwitchCase="status.CLOSED" class="status closed">{{value.status}}</div>
    <div *ngSwitchCase="status.ON_GOING" class="status ongoing">{{value.status}}</div>
    <div *ngSwitchCase="status.UPDATED" class="status updated">{{value.status}}</div>
</div>