.status-container {
    width: 100px;
    text-align: center;
    color: white;
}

.status {
    font-weight: 500;
    border-radius: 10px;
}

.created {
    background-color: #7BB4A2;
}

.pending {
    background-color: #cec28c;
}

.rejected {
    background-color: #BC8E9D;
}

.closed {
    background-color: #8EA9BC;
}

.ongoing {
    background-color: #CB9A90;
}

.updated {
    background-color: #9b9b9b;
}