<div class="page-actions">
    <button class="btn btn-light" (click)="toogleFiltersPanel()" *ngIf="(requests$ | async).length > 0">
        {{'requester.add-filters' | translate}}
        <i class="fa fa-angle-up" *ngIf="showFilters"></i>
        <i class="fa fa-angle-down" *ngIf="!showFilters"></i>
    </button>
    <button class="btn btn-dark shadow-none" (click)="addRequestModal()">
        <i class="fa fa-plus"></i>
        {{'requester.add-request' | translate}}
    </button>
</div>
<app-filters-panel *ngIf='showFilters' 
                    [filters]="filters"
                   (addFilters)="applyFilters($event)" 
                   (removeFilters)="resetFilters()">
</app-filters-panel>
<ng-container *ngIf="(requests$ | async).length > 0 && (errorMessage$ | async) == null">
    <app-table *ngIf="tableConfiguration"
               [columns]="tableConfiguration.columns" 
               [data]="requests$ | async" 
               [currentPage]="currentPage$ | async"
               [totalItems]="totalNumber$ | async" 
               (pageChange)="pageChanged($event)">
    </app-table>
</ng-container>

<app-error-view *ngIf="errorMessage$ | async"></app-error-view>

<ng-container *ngIf="(requests$ | async).length == 0 && (errorMessage$ | async) == null && !(loading$ | async)">
    <app-empty-page icon="fa-info-circle" title="{{'empty-page.title' | translate}}"
        subtitle="{{'empty-page.subtitle' | translate}}"></app-empty-page>
</ng-container>