<div class="info-message">
  <span>Sign in to access your account</span>
</div>

<div class="alert alert-danger alert-dismissible animated fadeIn" role="alert"
  *ngIf="(errorMessage$ | async) && !messageDismissed">
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
  <span>{{errorMessage$ | async}}</span>
</div>

<form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" class="form-control" formControlName="username" placeholder="Username">
    <div class="form-control-feedback" *ngIf="submitted && username().invalid">
      *This field is required
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <div class="form-control-feedback" *ngIf="submitted && password().invalid">
      *This field is required
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" (change)="onCheckChange($event)">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>

<div class="register-user">
  <span>New user?</span>
  <a [routerLink]="['register']" class="m-nav__link">
    <span class="m-nav__link-text">Register</span>
  </a>
</div>
