.info-message {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: large;
    font-weight: 500;
    color: #AAAAAA;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.form-group {
    margin-bottom: 1rem;

    input {
        border-radius: 5px;
        font-size: small;
        padding: 20px;
        box-shadow: 0px 3pt 6pt #e0e0e0ad;
        border: none;
    }

    .form-control-feedback {
        font-size: small;
        font-style: italic;
        padding-left: 1rem;
        padding-top: .25rem;
        color: #E74D3D;
    }

    .form-actions {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .btn {
            border-radius: 20px;
            background-color: #124B94;
            color: white;
            border: none;
            min-width: 100px;
        }

        .btn:hover {
            background-color: #073774;
        }
    }
}

.form-check {
    display: flex;
    padding-left: 2rem;

    input {
        cursor: pointer;
    }

    label {
        font-size: 14px;
    }
}

.register-user {
    text-align: center;
    margin-top: 2rem;
    a {
        padding-left: .5rem;
        color: #124B94;
        text-decoration: underline;
        cursor: pointer;
    }

    a:hover {
        color: #073774;
    }
}