<form [formGroup]="formGroup">
    <div class="portlet__body">
        <div class="portlet-div">
            <h3 class="portlet-title">{{'filters.general-information' | translate}}</h3>
            <div class="form-group">
                <label>
                    <i class="fa fa-info"></i>
                    {{'filters.request-state' | translate}}
                </label>
                <ng-select [items]="statuses" bindLabel="skills" placeholder="Select item" multiple="true"
                    [searchable]="true" formControlName="statuses">
                </ng-select>
            </div>
            <div class="form-group">
                <label>
                    <i class="fa fa-folder"></i>
                    {{'requester.area-of-interest' | translate}}
                </label>
                <ng-select [items]="areas" bindLabel="name" id="area-of-interest" placeholder="Select item"
                    multiple="false" [searchable]="false" maxSelectedItems='1' formControlName="areaOfInterest">
                </ng-select>
            </div>
            <div class="form-group">
                <label>
                    <i class="fa fa-calendar"></i>
                    {{'requester.start-date' | translate}}
                </label>
                <input id="start-date" class="form-control" bsDatepicker formControlName="startDate">
            </div>
            <div class="form-group">
                <label>
                    <i class="fa fa-calendar"></i>
                    {{'requester.end-date' | translate}}
                </label>
                <input id="end-date" class="form-control" bsDatepicker formControlName="endDate">
            </div>
        </div>
        <div class="portlet-div">
            <h3 class="portlet-title">{{'filters.resources' | translate}}</h3>
            <div class="form-group">
                <label>
                    <i class="fa fa-users"></i>
                    {{'filters.number-of-resources' | translate}}
                </label>
                <input id="total" type="number" class="form-control" placeholder="Enter value" formControlName="total"
                    min="1">
            </div>
            <div class="form-group">
                <label>
                    <i class="fa fa-user"></i>
                    {{'requester.seniority' | translate}}
                </label>
                <ng-select [items]="seniorities" bindLabel="seniority" placeholder="Select item" multiple="false"
                    [searchable]="false" maxSelectedItems='1' formControlName='seniority'>
                </ng-select>
            </div>
            <div class="form-group">
                <label>
                    <i class="fa fa-list"></i>
                    {{'requester.skills' | translate}}
                </label>
                <ng-select [items]="skills" bindLabel="skills" placeholder="Select item" multiple="true"
                    [searchable]="true" formControlName="skills">
                </ng-select>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="form__actions">
        <button type="button" class="btn btn-outline-secondary" (click)="resetFilters()">
            {{'filters.reset-filters' | translate}}
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="applyFilters()">
            {{'filters.apply-filters' | translate}}
        </button>
    </div>
</form>