form {
    width: -webkit-fill-available;
    padding: 1.5rem;
    .form-group {
      margin-bottom: 1rem;
      label {
        font-weight: 500;
      }
    }

    .form-control:disabled {
      background-color: #F9F9F9;
    }

    .form-control {
      border: 1px solid #e0e7ee;
    }

    textarea {
      resize: none;
    }

    .missing-value {
      display: block;
      font-style: italic;
      color: #808080;
      margin-left: 1rem;
    }
  }