<app-modal [title]="title + requestId" [buttons]="buttons">
    <div class="message-container">
        <span>{{'close-request.proceed' | translate}}</span>

        <div class="notes-container">
            <label for="notes">{{'change-status.additional-notes' | translate}}</label>
            <textarea id="notes" class="form-control" [(ngModel)]="notes" (ngModelChange)="checkNotes()"></textarea>
            <span *ngIf="!validNotes">{{'change-status.invalid-notes' | translate}}</span>
        </div>
    </div>
</app-modal>