:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.login-page {
    width: 100%;
    background: no-repeat fixed center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: auto;

    .info-message {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        font-size: large;
        font-weight: 500;
        color: #AAAAAA;
    }

    .login__logo {
        img {
            mix-blend-mode: multiply;
        }
    }

    .login__container {
        min-width: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        height: 80%;
        width: 30%;
        display: flex;
        flex-direction: column;

        form {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .form-group {
            margin-bottom: 1rem;

            input {
                border-radius: 20px;
                font-size: small;
                padding: 20px;
                box-shadow: 0px 3pt 6pt #e0e0e0ad;
                border: none;
            }

            .form-control-feedback {
                font-size: small;
                font-style: italic;
                padding-left: 1rem;
                padding-top: .25rem;
                color: #E74D3D;
            }

            .form-actions {
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                .btn {
                    border-radius: 20px;
                    background-color: #124B94;
                    color: white;
                    border: none;
                    min-width: 100px;
                }

                .btn:hover {
                    background-color: #073774;
                }
            }
        }

        .form-check {
            display: flex;
            padding-left: 2rem;

            input {
                cursor: pointer;
            }

            label {
                font-size: 14px;
            }
        }
    }
}