.default-container {
    word-break: break-word;
    white-space: pre-line;
    text-align: initial;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: flex-start;
  }
  
  .child {
    flex: 1 0 40%;
    margin: 5px;
    height: 25px;
    background-color: #ebf5ff;
    text-align: center;
    border-radius: 10px;
    max-width: 100px;
  }