<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
            aria-controls="dropdown-basic">
            <i class="fa {{dropdown.button.icon}}"></i> 
            <span>{{dropdown.button.text}}</span> 
            <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu show"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem" *ngFor="let item of dropdown.values" (click)="handleClick($event, item)">
          <i class="fa {{item.icon}}"></i>
          <a class="dropdown-item" href="#">{{item.text}}</a>
        </li>
    </ul>
  </div>