/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';

html,
body {
    margin: 0;
    height: 100%;
}

bs-datepicker-container {
    z-index: 3000;
}