<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/navbar-logo.png" alt="Almaviva">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <app-navigation-tab *ngFor="let tab of tabs" [tab]="tab" (click)="tabClick(tab.tabId)" [activeTab]="activeTab">
      </app-navigation-tab>
    </ul>
  </div>
</nav>